    *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

.header{
    text-align: center;
    text-transform: uppercase;
    color: #16A085;
   
}
li{
    text-decoration: none;
    display: inline-block;
    
}
body{
    margin: 0;
}
.header a{
padding: 20px;
display: inline-block;
text-decoration: none;
color: #16A085;
}
.image img{
    width: 100%
}
.under{
    text-transform: uppercase;
    text-align: center;
    margin: 59px;
     margin-bottom: 24px;
}
.fin{
  text-align: center;
  padding: 113px;
  background-color: rgba(255, 117, 117, 0.185);
}
.knopk{
    text-transform: uppercase;
    text-align: center;
    border: solid 2px;
}